*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family:Roboto, Arial, sans-serif;
}
section h2{
    color: rgb(247, 132, 1);
}

    nav {
        text-align: right;
    }

/*class selector*/

.grid{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.hero{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.fig1{
    padding: 2px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    float: right;
    margin: 0 0 0 1rem 1rem;
    color: rgb(255, 251, 5);
    top: 200px;
    right:1150px;
}
.fig2{
    padding: 2px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    float: right;
    margin: 0 0 0 1rem 1rem;
    color: rgb(49, 245, 0);
    top: 280px;
    right:290px;
    left: 20px;
}
.fig3{
    padding: 2px;
    border: 5px rgb(0, 0,0);
    float: right;
    color: rgb(49, 245, 0);
    top: 260px;
    left:700px;
}
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}
.navigation {
	display: flex;
	list-style: none;
}
.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}
.container{
    margin: 1rem auto;
    display: grid;
    grid-template-rows: 120px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}
.container2{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    align-items: center;
    border-bottom: 1px solid #ccc;
 
}


/*sssssss*/
@import url('https://fonts.googleapis.com/css2?family=Merryweather&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}
form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}
fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
}
legend{
    padding: 0.5rem;
    color: green;
    font-size: 1.3em;
    text-align: center;
}
label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}
label{
    text-align: left;
    padding: 1rem;
}
input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}
button{
    margin: 1rem;
    background-color:green;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}