*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family:Roboto, Arial, sans-serif;
}
section h2{
    color: rgb(247, 132, 1);
}

nav {
	text-align: right;
}

/*class selector*/

.grid{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.hero{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.fig1{
    padding: 2px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    float: right;
    margin: 0 0 0 1rem 1rem;
    color: rgb(255, 251, 5);
    top: 200px;
    right:1150px;
}
.fig2{
    padding: 2px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    float: right;
    margin: 0 0 0 1rem 1rem;
    color: rgb(49, 245, 0);
    top: 280px;
    right:290px;
    left: 20px;
}
.fig3{
    padding: 2px;
    border: 5px rgb(0, 0,0);
    float: right;
    color: rgb(49, 245, 0);
    top: 260px;
    left:700px;
}
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}
.navigation {
	display: flex;
	list-style: none;
}
.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}
.container{
    margin: 1rem auto;
    display: grid;
    grid-template-rows: 120px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}
.container2{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    align-items: center;
    border-bottom: 1px solid #ccc;
 
}